.single-academy {
   .category {
      color: $chloe-teal;
      font-family: $archia-semi-bold;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.1em;
      line-height: 150%;
      padding-top: 45px;
      text-align: center;
      text-transform: uppercase;
   }

   .hero-headline {
      .container {
         h1 {
            max-width: 1400px;
            margin: 0 auto;
            padding: 45px 0 90px 0;
         }
      }
   }

   .container.post {
      background-color: $warm-white;
      padding: 20px;
      
      .content {
         margin: 0 auto;
         max-width: 820px;
         width: 100%;
      }
   }
}