.content-white-background {
    .container {
        @include breakpoint($mobile) {
            padding: 0;
        }
    }

    &--container {
        padding: 30px 120px;
        background: $warm-white;

        @include breakpoint($tablet) {
            padding: 30px 60px;
        }

        @include breakpoint($portrait) {
            padding: 30px 20px;
        }
    }

    &--content {
        margin: 0 auto;

        p {
            font-size: 18px;
            line-height: 150%;
            color: $warm-black;

            @include breakpoint($mobile) {
                font-size: 16px;
            }
        }
    }
}