.content {
    padding: 30px 0;

    &--content {
        max-width: 820px;
        margin: 0 auto;

        p {
            font-size: 18px;
            line-height: 150%;
            color: $warm-white;

            @include breakpoint($mobile) {
                font-size: 16px;
            }
            
            a {
                text-decoration: underline;
                color: $chloe-teal;
            }
        }

        ul, ol {
            padding-left: 20px;

            li {
                font-size: 18px;
                line-height: 150%;
                color: $warm-white;
            }
        }
    }
}