.content {
    padding: 97px 0;

    &--content {
        max-width: 820px;
        margin: 0 auto;

        p {
            margin-top: 27px;
            font-size: 18px;
            line-height: 150%;
            color: $warm-white;

            @include breakpoint($mobile) {
                font-size: 16px;
            }
        }
    }
}