.full-width-image {

    .container {
        @include breakpoint($mobile) {
            padding: 0;
        }
    }

    &--container {
        padding: 100px 20px;
        background: $warm-white;

        &--image {
            max-width: 100%;
            height: auto;
        }
    }
}