.hero-image {

    .container {
        @include breakpoint($mobile) {
            padding: 0;
        }
    }

    &--container {
        margin-top: 20px;
        padding: 20px;
        background: $warm-white;

        &--preview {
            padding-bottom: math.div(550, 1620) * 100%;
            background-color: rgba($warm-black, 0.2);
            background-size: cover;
            background-position: center;

            @include breakpoint($portrait) {
                padding-bottom: 100%;
            }
        }
    }
}