.separator-white-background {
    .container {
        @include breakpoint($mobile) {
            padding: 0;
        }
    }

    &--container {
        padding: 30px 20px;
        background: $warm-white;
    }

    hr {
        height: 1px;
        margin: 0;
        background: rgba($warm-black, 0.25);
        border: none;
    }
}