.two-column-white-background {

    .container {
        @include breakpoint($mobile) {
            padding: 0;            
        }
    }

    &--container {
        display: flex;
        padding: 30px 120px;
        background: $warm-white;

        @include breakpoint($tablet) {
            padding: 30px 20px;
        }

        @include breakpoint(1110px) {
            flex-direction: column;
        }

        &--col {
            flex: 0 0 auto;
            width: 50%;

            @include breakpoint(1110px) {
                width: 100%;
            }

            &:first-child {
                padding-right: 70px;

                @include breakpoint(1180px) {
                    padding-right: 20px;
                }

                @include breakpoint(1110px) {
                    padding-right: 0;
                    padding-bottom: 60px;
                }
            }

            &:last-child {
                padding-left: 70px;

                @include breakpoint(1180px) {
                    padding-left: 20px;
                }

                @include breakpoint(1110px) {
                    padding-left: 0;
                }
            }

            &--preview {
                max-width: 100%;
            }

            h2 {
                margin-top: 60px;
                font-family: $archia-semi-bold;
                font-size: 24px;
                font-weight: 400;
                line-height: 130%;
                color: $warm-black;

                @include breakpoint($mobile) {
                    font-size: 18px;   
                }
            }

            &--copy {
                margin-top: 60px;

                p {
                    font-size: 18px;
                    line-height: 150%;
                    color: $warm-black;

                     a {
                        color: $chloe-teal;
                     }

                    @include breakpoint($mobile) {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}