// Colors
$warm-black: #1F1F1E;
$warm-white: #ECFAEC;
$chloe-teal: #8BC4C1;
$fresh-orange: #ED7600;
$cyan-earth: #4B615F;
$orange-1: #EA2F00;
$dark-cyan: #009898;

// Fonts
$archia-thin: archiathin, sans-serif;
$archia-light: archialight, sans-serif;
$archia-regular: archiaregular, sans-serif;
$archia-medium: archiamedium, sans-serif;
$archia-semi-bold: archiasemibold, sans-serif;
$archia-bold: archiabold, sans-serif;

// Animation
$transition-duration: 0.4s;

// Breakpoints
$mobile: 600px;
$portrait: 768px;
$tablet: 900px;